
header{
    
    
}
.bg-image{
    background-image: url("Flex.jpg");
  min-height: 450px;  
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;  
  position: relative;
}

  .container-fluid{
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
  }

  .container-flex{
    position: absolute;
    margin: 0;
    width: 100%;
    background: rgba(189, 201, 194, 0.842);
  }

  .Dheeraj-card{
    position: relative;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15) !important;
    background-color: white;
    width: 60%;
    height: 60%;
    margin-left: 30%;
    margin-top: -20%;
    border-radius: 1%;
    
  }
  .Dheeraj-card img{
    width: 83%;
    height: 100%;
    border: none;
    position: relative;
    border-radius: 1%;
  }
  
  .info{
    margin-top: 2rem;
    margin-left: 0rem;
    font-size: x-small;
  }

  .info h3{
    color: #4285F4;
  }

  .info h5{
    color:#bdc1c6;
  }
  .info hr{
    margin: 1%;
    width: 80%;
  }

  .info span{
    font-size: x-small;
  }
  

  .color-green{
    color:#0F9D58;
    font-weight: bold;
  }
  .color-red{
    color:#DB4437;
}

.s2{
  font-size: 1.3rem;
}